.dsmetaCard {
  background-color: #283142;
  border-radius: 10px;
  padding: 30px 10px;
}

.dsmetaSalesTitle {
  color: #676fff;
  font-size: 24px;
  margin-bottom: 20px;
}

.dsmetaFormControlContainer {
  margin-bottom: 16px;
  max-width: 300px;
}

.dsmetaFormControl {
  width: 100%;
  height: 46px;
  background-color: #1b2531;
  border: 1px solid #384459;
  border-radius: 5px;
  color: #9aaabe;
  padding: 0 20px;
  font-size: 18px;
}

.dsmetaSalesTable {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.dsmetaSalesTable thead {
  height: 55px;
  font-size: 16px;
  color: #e9e9e9;
  font-weight: 700;
}

.dsmetaSalesTable tbody {
  font-size: 14px;
  font-weight: 400;
  color: #cfcfcf;
  text-align: center;
}

.dsmetaSalesTable tbody tr {
  height: 74px;
  border-top: 1px solid #5f6e82;
}

.dsmetaSalesTable tbody tr:hover > td {
  background-color: #384459;
}

.dsmetaSalesTable tbody tr:nth-child(odd) {
  background-color: #242c3b;
}

.dsmetaRedBtnContainer {
  display: flex;
  justify-content: center;
}

.dsmetaRedBtn {
  height: 45px;
  width: 45px;
  background: rgba(255, 107, 114, 0.1);
  border: 1px solid #ff6b72;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.dsmetaRedBtn img {
  width: 19px;
}

.show576 {
  display: none;
}

.show992 {
  display: none;
}

@media (min-width: 576px) {
  .show576 {
    display: table-cell;
  }

  .dsmetaCard {
    padding: 35px;
  }

  .dsmetaSalesTable tbody tr {
    height: 55px;
  }

  .dsmetaSalesTable tbody {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .show992 {
    display: table-cell;
  }
}
